<%= form_for [@post, @comment] do |f| %>
<div class="form-group">
  <br>
  <%= f.text_field :content, class: "form-control input"%>
</div>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :post_id, :value => @post.id %>
<%= button_tag(type: 'submit', class: "button color icon-button") do %>
  <i class="fa fa-twitch fa-2x"></i>
<% end %>
<% end %>
