<h1 class="title"><%= @user.username %>'s tweets</h1>
<% if @user != current_user && current_user != nil %>
    <%= link_to "follow", post_friendships_path(@post), id: "follow", :method => :post %>
<% end %>

<% if @user != current_user && current_user != nil %>
<% @user.posts.each do |post| %>
  <div id="post">
  <p class="body"><%= post.body %></p>
  <p class="timestamps"> <%= post.created_at %></p>

</div>
  <% end %>
  <% else %>
  <% @user.posts.each do |post| %>
  <div id="post">
  <p class="body"><%= post.body %></p>
  <p class="timestamps"> <%= post.created_at %></p>
  <%= link_to "Delete", post_path({ :id => @post.id }),
                        :data => {:confirm => "You sure?",
                        :method => "delete"} %>
  </div>
<% end %>
<% end %>
