<%= form_for @post do |f| %>
<div class="form-group">
  <%= f.label "Post" %>
  <%= f.text_field :body, class: "form-control"%>
</div>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.submit(:class => "btn btn-primary") %>
<% end %>
