
<% if current_user != nil %>
<h1><%= image_tag current_user.avatar.url(:thumb), class: "image-thumb" %>  <%= current_user.username %></h1>
<table>
  <thead class="table-head">
    <tr>
      <th class="table-head"><%= link_to "Followers", user_friendships_path(current_user.id), class: "follow" %></th><th class="table-head"><%= link_to "Following", user_friendships_path(current_user.id), class: "follow" %></th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr>
      <td><%= current_user.followers.count %></td><td><%= current_user.following.count %></td>
    </tr>
    </tbody>
</table>
<% end %>


  <% @posts.each do |post| %>
<div id="post">
  <p class="body"><%= post.body %></p>
  <div class="inner-post"><%= image_tag post.user.avatar.url(:thumb), class: "small-image-thumb" %><%= link_to post.user.username, post_path(post.id), class: "email label" %></div>
</div>
  <% end %>


<%= link_to "new post", new_post_path, id: "button", class: "button radius round other", remote: true %>
<div id="new_form">
</div>


