
<% if current_user != nil %>
<h1><%= image_tag current_user.avatar.url(:thumb), class: "image-thumb" %>  <%= current_user.username %></h1>
<table>
  <thead class="table-head">
    <tr>
      <th class="table-head"><%= link_to "Followers", user_friendships_path(current_user.id), class: "follow" %></th><th class="table-head"><%= link_to "Following", user_friendships_path(current_user.id), class: "follow" %></th>
    </tr>
  </thead>
  <tbody class="table-body">
    <tr>
      <td><%= current_user.followers.count %></td><td><%= current_user.following.count %></td>
    </tr>
    </tbody>
</table>
<% end %>

<% if current_user != nil %>
  <% @posts.each do |post| %>
<div id="post">
  <p class="body"><%= post.body %></p>
  <div class="inner-post"><%= image_tag post.user.avatar.url(:thumb), class: "small-image-thumb" %><%= link_to post.user.username, post_path(post.id), class: "email label" %>  <%= link_to new_post_comment_path(post.id) do %><i class="fa fa-twitch fa-lg post-icon"></i><% end %><%= link_to post_post_likes_path(post.id), method: :post do %><i class="fa fa-thumbs-o-up fa-fw post-icon-like"></i><% end %>  <% if current_user.id == post.user_id %>
        <%= link_to post_path(:id => post.id),
                        :data => {:confirm => "You sure?",
                        :method => "delete"} do %>
                        <i class="fa fa-trash fa-md trash"></i>
                        <% end %>
      <% end %></div><div class="timestamps"><%= post.created_at %></div><div class="likes-count"><div class="like-bar"><%= post.post_likes.count %>  likes</div>   <div class="comment-bar"><%= post.comments.count %>  comments</div></div>
</div>
  <% end %>
<% end %>


<%= link_to "new post", new_post_path, id: "button", class: "button radius round other", remote: true %>
<div id="new_form">
</div>


