<h1 class="title"><%= @user.username %>'s tweets</h1>
<table>
  <thead>
    <tr>
      <th><%= link_to "Followers", user_friendships_path(@user.id) %></th><th><%= link_to "Following", user_friendships_path(@user.id) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.followers.count %></td><td><%= @user.following.count %></td>
    </tr>
    </tbody>
</table>
<% if @user != current_user && current_user != nil %>
    <%= link_to "follow", post_friendships_path(@post), id: "follow", class: "small button", :method => :post %>
<% end %>

<% if @user != current_user && current_user != nil %>
<% @user.posts.each do |post| %>
  <div id="post">
  <p class="body"><%= post.body %></p>
  <p class="timestamps"> <%= post.created_at %></p>


</div>
  <% end %>
  <% else %>
  <% @user.posts.each do |post| %>
  <div id="post">
  <p class="body"><%= post.body %></p>
  <p class="timestamps"> <%= post.created_at %></p>
  <%= link_to "Delete", post_path({ :id => @post.id }), class: "label",
                        :data => {:confirm => "You sure?",
                        :method => "delete"} %>
  </div>
<% end %>
<% end %>
