<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">

  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Twitter</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

  </ul>

    <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <% if user_signed_in? %>
        <a href="#"><%= current_user.username %></a>
        <% else %>
        <a href="#">Welcome</a>
        <% end %>
        <ul class="dropdown">
          <li>
  <% if user_signed_in? %>
            <%= link_to edit_user_registration_path do %>
              Edit Profile <i class="fa fa-pencil"></i>
              <% end %></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            Logout   <i class="fa fa-moon-o"></i>
            <% end %></li>
<% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
<% end %>
        </ul>
      </ul>
    </section>
  </nav>
  <div class="container">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</div>
</body>
</html>
